env
# Telegram Bot Token (получить у @BotFather)
TELEGRAM_BOT_TOKEN=8600530752:AAH27G84B_fpwST6AhetUeYQiDAipRMqTvQ

# Разрешённые Telegram ID (через запятую, без пробелов)
ALLOWED_TELEGRAM_IDS=34554622

# Публичный IP сервера (ваш внешний IP)
SERVER_PUBLIC_IP=195.200.91.1

# Порт WireGuard (по умолчанию 51820)
WG_PORT=51820

# Подсеть VPN (по умолчанию 10.8.0.0/24)
VPN_SUBNET=10.8.0.

API_TOKEN=auto
