# Telegram Bot Token (получить у @BotFather)
TELEGRAM_BOT_TOKEN=8600070752:AAH17G84B_fpwSI6AhetUeYQiDAipRMqTvQ

# Разрешённые Telegram ID (через запятую, без пробелов)
ADMIN_IDS=400305214

# Публичный IP сервера (можно оставить auto для автоматического определения)
SERVER_PUBLIC_IP=auto

# Порт WireGuard (по умолчанию 51820)
WG_PORT=51820

# Подсеть VPN (префикс для клиентских IP, например 10.8.0.)
VPN_SUBNET=10.8.0.

# API токен (будет сгенерирован автоматически при установке)
API_TOKEN=auto

PREFER_IP_VERSION=ipv4
